* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background: #e3eadf;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.skill {
  width: 160px;
  height: 160px;
  /* background: cornflowerblue; */
  position: relative;
}

.outer {
  /* border: 1px solid red; */
  height: 160px;
  width: 160px;
  border-radius: 50%;
  padding: 20px;
  box-shadow:
    6px 6px 10px -1px rgba(0, 0, 0, 0.15),
    -6px -6px 10px -1px rgba(255, 255, 255, 0.7);
}

.inner {
  /* border: 1px solid red; */
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 120px;
  border-radius: 50%;
  box-shadow:
    inset 6px 6px 10px -1px rgba(0, 0, 0, 0.15),
    inset -6px -6px 10px -1px rgba(255, 255, 255, 0.7),
    -0.5px -0.5px 0 rgba(255, 255, 255, 1),
    0px 12px 10px -10px rgba(0, 0, 0, 0.05);
}

#number {
  font-weight: 600;
  color: #555;
}

circle {
  fill: none;
  stroke: url(#GradientColor);
  stroke-width: 20px;
  stroke-dasharray: 472;
  stroke-dashoffset: 472;
  animation: anim 2s linear forwards;
}

svg {
  top: 0;
  left: 0;
  position: absolute;
}

@keyframes anim {
  100% {
    stroke-dashoffset: 165;
  }
}

.back-btn {
  position: fixed;
  top: 20px;
  right: 20px;

  padding: 10px 16px;
  background: linear-gradient(135deg, #4f46e5, #6366f1);
  color: #fff;

  font-size: 10px;
  font-weight: 600;
  text-decoration: none;

  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);

  transition: all 0.3s ease;
  z-index: 1000;

  top: 15px;
  right: 15px;
}

.back-btn:hover {
  transform: translateY(-2px);
  box-shadow: 0 6px 14px rgba(0, 0, 0, 0.2);
  background: linear-gradient(135deg, #4338ca, #4f46e5);
}
