@import url("https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&display=swap");

body {
  background: #edeaff;
  font-family: "Courier Prime", monospace;
}

.stopwatch {
  width: 90%;
  max-width: 600px;
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url(../images/background.png);
  background-size: cover;
  background-position: center;
  text-align: center;
  padding: 40px 0;
  color: #fff;
  margin: 20px auto 0;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.stopwatch h1 {
  margin-top: 60px;
  font-size: 64px;
  font-size: 300;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.buttons img {
  width: 50px;
  margin: 0 20px;
  cursor: pointer;
}

.buttons img:nth-child(2) {
  width: 80px;
}

.back-btn {
  position: fixed;
  top: 20px;
  right: 20px;

  padding: 10px 16px;
  background: linear-gradient(135deg, #4f46e5, #6366f1);
  color: #fff;

  font-size: 10px;
  font-weight: 600;
  text-decoration: none;

  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);

  transition: all 0.3s ease;
  z-index: 1000;

  top: 15px;
  right: 15px;
}

.back-btn:hover {
  transform: translateY(-2px);
  box-shadow: 0 6px 14px rgba(0, 0, 0, 0.2);
  background: linear-gradient(135deg, #4338ca, #4f46e5);
}
