* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

body {
  background: #39297b;
  color: #fff;
}

h1 {
  text-align: center;
  margin: 100px auto 50px;
  font-weight: 600;
}

form {
  width: 90%;
  max-width: 600px;
  background: #434989;
  margin: auto;
  height: 80px;
  display: flex;
  align-items: center;
  border-radius: 8px;
}

form input {
  flex: 1;
  height: 100%;
  border: 0;
  outline: 0;
  background: transparent;
  color: #fff;
  font-size: 18px;
  padding: 0 30px;
}

form button {
  padding: 0 40px;
  background: #ff3929;
  height: 100%;
  color: #fff;
  font-size: 18px;
  border: 0;
  outline: 0;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  cursor: pointer;
}

::placeholder {
  color: #fff;
  font-size: 18px;
}

#show-more-btn {
  background: #ff3929;
  color: #fff;
  padding: 10px 20px;
  border: 0;
  outline: 0;
  border-radius: 4px;
  margin: 10px auto 100px;
  cursor: pointer;
  display: none;
}

#search-result {
  width: 80%;
  margin: 100px auto 50px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 40px;
}

#search-result img {
  width: 100%;
  height: 230px;
  object-fit: cover;
  border-radius: 5px;
}

.back-btn {
  top: 20px;
  right: 20px;

  padding: 10px 16px;
  background: linear-gradient(135deg, #4f46e5, #6366f1);
  color: #fff;

  font-size: 10px;
  font-weight: 600;
  text-decoration: none;

  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);

  transition: all 0.3s ease;
  z-index: 1000;

  top: 10px;
  right: 15px;
}

.back-btn:hover {
  transform: translateY(-2px);
  box-shadow: 0 6px 14px rgba(0, 0, 0, 0.2);
  background: linear-gradient(135deg, #4338ca, #4f46e5);
}

@media (max-width: 540px) {
  #search-result {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 480px) {
  form button {
    padding: 0 8px;
    font-size: 16px;
  }

  #search-result {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 360px) {
  form button {
    padding: 0 4px;
  }
}
