* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

body {
  background: #262a2f;
}

.container {
  position: absolute;
  background: #fff;
  width: 400px;
  padding: 25px 35px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(255, 255, 255, 0.15);
}

.container p {
  font-weight: 600;
  font-size: 15px;
  margin-bottom: 8px;
}

.container input {
  width: 100%;
  height: 50px;
  border: 1px solid #494eea;
  outline: 0;
  padding: 10px;
  margin: 10px 0 20px;
  border-radius: 8px;
}

.container button {
  width: 100%;
  height: 50px;
  background: #494eea;
  color: #fff;
  border: 0;
  outline: 0;
  border-radius: 5px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  margin: 20px 0;
  font-weight: 500;
}

#imgBox {
  width: 200px;
  border-radius: 5px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 1s;
}
#imgBox img {
  width: 100%;
  padding: 10px;
}

#imgBox.show-img {
  max-height: 300px;
  margin: 10px auto;
  border: 1px solid #d1d1d1;
}

.error {
  animation: shake 0.1s linear 10;
}

@keyframes shake {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-2px);
  }
  50% {
    transform: translateX(0);
  }
  75% {
    transform: translateX(2px);
  }
  100% {
    transform: translateX(0);
  }
}

input.error {
  border: 2px solid red;
  background: #ffe6e6;
}

#generate:hover {
  background-color: rgb(3, 230, 154);
  color: black;
  font-weight: 600;
  opacity: 1.1;
  transform: scale(1.06);
}

.back-btn {
  position: fixed;
  top: 20px;
  right: 20px;

  padding: 10px 16px;
  background: linear-gradient(135deg, #4f46e5, #6366f1);
  color: #fff;

  font-size: 10px;
  font-weight: 600;
  text-decoration: none;

  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);

  transition: all 0.3s ease;
  z-index: 1000;

  top: 15px;
  right: 15px;
}

.back-btn:hover {
  transform: translateY(-2px);
  box-shadow: 0 6px 14px rgba(0, 0, 0, 0.2);
  background: linear-gradient(135deg, #4338ca, #4f46e5);
}

@media (max-width: 480px) {
  .container {
    width: 320px;
  }
}
