* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

.hero {
  background: linear-gradient(45deg, #1d0000, #20205b);
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.calendar {
  background: #fff;
  width: 300px;
  height: 250px;
  display: flex;
  align-items: center;
  border-radius: 10px;
}

.left,
.right {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 24px;
}

.right {
  width: 42%;
  background: #c70c56f7;
  color: #fff;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.left {
  width: 58%;
}

#date {
  font-size: 100px;
  line-height: 90px;
}

.back-btn {
  position: fixed;
  top: 20px;
  right: 20px;

  padding: 10px 16px;
  background: linear-gradient(135deg, #4f46e5, #6366f1);
  color: #fff;

  font-size: 14px;
  font-weight: 600;
  text-decoration: none;

  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);

  transition: all 0.3s ease;
  z-index: 1000;

  top: 15px;
  right: 15px;
}

.back-btn:hover {
  transform: translateY(-2px);
  box-shadow: 0 6px 14px rgba(0, 0, 0, 0.2);
  background: linear-gradient(135deg, #4338ca, #4f46e5);
}
