@import url("https://fonts.googleapis.com/css2?family=Playfair+Display+SC:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  font-family: "Playfair Display SC", serif;
}

body {
  background: #bbc6fa;
}

.quote-box {
  background: #fff;
  width: 700px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 40px;
  border-radius: 12px;
  text-align: center;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
}

.quote-box {
  font-size: 32px;
  margin-bottom: 40px;
}

.quote-box h2 {
  font-size: 32px;
  margin-bottom: 40px;
  position: relative;
}

.quote-box h2::after {
  content: "";
  width: 75px;
  height: 3px;
  border-radius: 3px;
  background: rgb(23, 124, 229);
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
}

.quote-box blockquote {
  font-size: 26px;
  min-height: 110px;
}

.quote-box blockquote {
  font-size: 26px;
  min-height: 110px;
}

.quote-box blockquote::after,
.quote-box blockquote::before {
  content: '"';
}

.quote-box span {
  display: block;
  margin-top: 10px;
  float: right;
  position: relative;
}

.quote-box span::before {
  content: "";
  width: 20px;
  height: 2px;
  background-color: rgb(23, 124, 229);
  position: absolute;
  top: 50%;
  left: -30px;
}

.quote-box div {
  width: 100%;
  margin-top: 50px;
  display: flex;
  justify-content: center;
}

.quote-box button {
  background: rgb(23, 124, 229);
  color: #ffffff;
  border-radius: 25px;
  border: 1px solid rgb(23, 124, 229);
  width: 150px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5px;
  cursor: pointer;
}

.quote-box button img {
  width: 20px;
  margin-right: 10px;
  margin-top: 3px;
}

.quote-box button:nth-child(2) {
  background: transparent;
  color: #333;
  font-weight: 550;
}

#quote {
  font-size: 25px;
  font-weight: 500;
}

#author {
  font-size: 20px;
  font-weight: 600;
}

#new-quote:hover {
  background: rgb(2, 107, 206);
  color: black;
  font-weight: 550;
  opacity: 0.9;
  transform: scale(1.09);
}

#tweet:hover {
  background: rgb(241, 235, 235);
  color: rgb(10, 21, 244);
  font-weight: 550;
  opacity: 0.9;
  transform: scale(1.09);
}

.back-btn {
  position: fixed;
  top: 20px;
  right: 20px;

  padding: 10px 16px;
  background: linear-gradient(135deg, #4f46e5, #6366f1);
  color: #fff;

  font-size: 10px;
  font-weight: 600;
  text-decoration: none;

  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);

  transition: all 0.3s ease;
  z-index: 1000;

  top: 15px;
  right: 15px;
}

.back-btn:hover {
  transform: translateY(-2px);
  box-shadow: 0 6px 14px rgba(0, 0, 0, 0.2);
  background: linear-gradient(135deg, #4338ca, #4f46e5);
}

@media (max-width: 768px) {
  .quote-box {
    width: 500px;
  }
}

@media (max-width: 480px) {
  .quote-box {
    width: 320px;
  }
}
